 

<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully Added The Shoe To Your Cart</p>
  <hr>
  <p class="mb-0">We Will Let You Know When There Is A Stock For This Shoe </p>
</div>
  

<div class="center" style="padding-top: 1em;">
<form action="/done" method="post">
<button type="submit" class="btn btn-success">Finish</button>
</form>
</div>