<head>

  <title>Retail-Shopping | Form</title>
</head>

<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="/images\favicon.ico" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">Enix</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/Male_Section" class="nav-link">Male</a></li>
        <li class="nav-item"><a href="/Female_Section" class="nav-link">Female</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>



  <form action="/form" method="POST">
    <div>

      <div class="form-group">
        <h4 style="padding-bottom: 1em;padding-top:1em">Details</h4>

        <div>
          <label>Full Name</label>
          <input type="text" class="form-control" id="customerName" placeholder="e.g Odwa Makhalima"
            style="text-align: center;width:300px" name="myUser" >
        </div>

        <div style="padding-bottom: 1em;">
          <label>Email address</label>
          <input type="email" class="form-control" id="customerEmail" placeholder="name@example.com"
            style="text-align: center;width:450px" name="myMail" required>
        </div>



      </div>
    </div>

    <div style="padd">
      <div class="form-group">
        <label for="exampleFormControlSelect1">Choose Color</label>
        <select class="form-control" id="exampleFormControlSelect1" style="text-align: center;width:450px" name="colour"
          required>
          <option >Black</option>
          <option>Brown</option>
          <option>Red</option>
          <option>Blue</option>
          <option>White</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Select Size</label>
        <select class="form-control" id="exampleFormControlSelect2" style="text-align: center;width:450px" name="size"
          required>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
        </select>
      </div>
            <div class="form-group">
        <label for="exampleFormControlSelect2">Select Size</label>
        <select class="form-control" id="exampleFormControlSelect2" style="text-align: center;width:450px" name="quantity"
          required>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
        </select>
      </div>

    </div>

    <div style="padding-top: 1em;">
      <button type="submit" class="btn btn-primary" id="sub">Submit</button>
    </div>
  </form>

</div>