<div class="center" style="padding-bottom: 2em;">

  <div class="jumbotron">
    <h1 class="display-6">Enix.herokuapp.com</h1>
    <p class="lead">We Bring You The Newest Shoes In The Market So Pre-Order Today!</p>
    <hr class="my-4">

  </div>
  <div style="padding:1em; background-color:lightgrey">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/types">Males</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/types2">Females</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" tabindex="-1" aria-disabled="true"></a>
      </li>
      <li class="nav-item">
        <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
          <input class="form-control mr-sm-2" type="search" name="search" placeholder="Check Order" aria-label="Search"
            required>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </li>
    </ul>
  </div>


  <div>
    <form action="/form" method="POST">
      <div class="form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
          style="text-align: center;" name="myMail" required>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Choose Color</label>
        <select class="form-control" id="exampleFormControlSelect1" name="colour" required>
          <option>Black</option>
          <option>Brown</option>
          <option>Red</option>
          <option>Blue</option>
          <option>White</option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect2">Select Size</label>
        <select multiple class="form-control" id="exampleFormControlSelect2" name="size" required>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
        </select>
      </div>

      <div>
        <button class="btn btn-primary" id="sub">Submit</button>
      </div>
    </form>

  </div>