<div class="center">
    <h1> <u>ALMOST THERE </u></h1>
   
</div>

<form action="/form" method="POST">
    <div class="center">

        <div style="padding: 1em;">
            <input type="number" name="PhoneNumber" placeholder="Enter Phone Number" style="width: 13em;height:2em;text-align: center;" 
                required>
        </div>

        <div style="padding: 1em;">
            <input type="text" name="mail" placeholder="Enter Email Address" style="width: 16em;height:2em;text-align: center;" required>
        </div>

        <div style="margin-left: 1em; margin-top:1em">
            <button class="button-primary submitBtn" on type="submit" name="button" id="button" value="button"
                style="color: black;">Submit</button>
        </div>
    </div>
</form>