
<div class="center" style="padding-bottom: 2em;">
    
<div class="jumbotron">
  <h1 class="display-6">Hello, world!</h1>
  <p class="lead">We Bring You The Newest Shoes In The Market So Pre-Order Today!</p>
  <hr class="my-4">

</div>
        <form action="/logins" method="POST">
           

            <div style="padding: 1em;" class="d-flex justify-content-center">
<div class="card p-2 bd-highlight" style="width: 18rem;background-color:darkgray">
  <img src="/images\a.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"></p>
    <a href="/types" class="btn btn-primary">Check Male Shoes</a>
  </div>
</div>

<div class="card p-2 bd-highlight" style="width: 18rem;background-color:dimgray">
  <img src="/images\1.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"></p>
    <a href="/types2" class="btn btn-secondary">Check Female Shoes</a>
  </div>
</div>
</div>
            

        </form>


    

</div>