<div class="center" style="padding-bottom: 2em;">
    <div class="data">
<div class="center" style="padding-bottom: 3em;">
    <h1>Welcome</h1>
</div>
        <form action="/logins" method="POST">
            <h6>Enter Name Below: {{hey}}</h6><input type="string" onfocus="this.value=''" name="namez" value=""
                placeholder="Enter Your Name" style="width: 13em;height:2em;text-align: center;" required>

            <div style="padding: 1em;">

                <select id="theDrop" name="mydrop" required>
                    <option value="" name='drop'>Gender</option>
                    <option value="Male" name='drop'>Male</option>
                    <option value="Female" name='drop'>Female</option>

                </select>

            </div>
            <div style="padding-top: 1em;">
                <button class="button-primary AddBtn" on type="submit" id="button1">Procced</button>
            </div>
        </form>


    </div>

</div>