<head>

  <title>Accel-Shopping | Payment</title>



</head>


<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
	<div class="container">
		<a href="#" class="navbar-brand">
			<!-- Logo Image -->
			<img src="/images\favicon.ico" width="45" alt="" class="d-inline-block align-middle mr-2">
			<!-- Logo Text -->
			<span class="text-uppercase font-weight-bold">Enix</span>
		</a>

		<button type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
			class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
				<li class="nav-item"><a href="/Male_Section" class="nav-link">Male</a></li>
				<li class="nav-item"><a href="/Female_Section" class="nav-link">Female</a></li>
				<li><a href="/cart" class="nav-link"> Cart</a></li>
			</ul>
		</div>
	</div>
</nav>

<section id="cart_items">
		<div class="container">
			<div class="breadcrumbs">
				<ol class="breadcrumb">
				  <li><a href="#">Home</a></li>
				  <li class="active">Shopping Cart</li>
				</ol>
			</div>
				<form action="payment" method="post">
      <div class="form-group">
        <label for="exampleFormControlSelect1">SELECT A PAYMENT METHOD</label>
        <select class="form-control" id="exampleFormControlSelect1" style="text-align: center;width:450px" name="payment" required>
			
		   <option>EFT</option>
          <option >CREDIT OR DEBIT CARD</option>
         

        </select>
      </div>
<div class="input-group mb-3">
  <div class="input-group-prepend">

  </div>
  <input type="text" class="form-control" placeholder="Card Number" style="width: 450px;">
  <div class="input-group-append">
   
  </div>
</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">

			<div class="row">

			
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li>Cart Sub Total <span>R{{list.myTotal}}</span></li>
							<li>Eco Tax <span>R0</span></li>
							<li>Shipping Cost <span>Free</span></li>
							<li>Total <span>R{{list.myTotal}}</span></li>
						</ul>
							
	            <button type="submit" class="btn btn-primary" name="price" value="/images/b.jpg" 
				>Place Order</button>
              </form>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
