<div class="center" style="padding-bottom: 2em;">
    <div class="data">

        <form action="/types2" method="POST">

            <div style="padding: 1em;">
                <h2>
                    <u>SECOND STEP </u>

                </h2>
            </div>

            <div style="padding: 1em;">
                <h6>
                    Please Select Each Below
                </h6>
            </div>

            <div class="d-flex justify-content-center" style="padding-bottom: 2em;">

              
                <div class="p-2 bd-highlight">

                    <select id="theDrop" name="mydrop2" required>
                        <option value="" name='drop'>Shoe Type</option>
                        <option value="Stilettos" name='drop'>Stilettos</option>
                        <option value="Kitten Heels" name='drop'>Kitten Heels</option>
                        <option value="Ankle Booties" name='drop'>Ankle Booties</option>
                        <option value="Ankle Strap Heels" name='drop'>Ankle Strap Heels</option>
                        <option value="Wedges" name='drop'>Wedges</option>
                        <option value="Cone Heels" name='drop'>Cone Heels</option>
                        <option value="Gladiator Sandals" name='drop'>Gladiator Sandals</option>
                    </select>

                </div>

                <div class="p-2 bd-highlight">

                    <select id="theDrop" name="mydrop3" required>
                        <option value="" name='drop'>Shoe Colour</option>
                        <option value="Black" name='drop'>Black</option>
                        <option value="Tan" name='drop'>Tan</option>
                        <option value="Red" name='drop'>Red</option>
                        <option value="Pink" name='drop'>Pink</option>
                        <option value="Gold" name='drop'>Gold</option>
                    </select>

                </div>

                <div class="p-2 bd-highlight">

                    <select id="theDrop" name="mydrop4" required>
                        <option value="" name='drop'>Shoe Size</option>
                        <option value="3" name='drop'>3</option>
                        <option value="4" name='drop'>4</option>
                        <option value="5" name='drop'>5</option>
                        <option value="6" name='drop'>6</option>
                    </select>

                </div>

            </div>
            <button on type="submit" name="button" id="button3">Procced</button>
        </form>
    </div>
</div>