<div class="center" style="padding-bottom: 2em;">
    <div class="data">

        <form action="/types" method="POST">

            <div style="padding: 1em;">
                <h2>
                    <u>SECOND STEP </u>

                </h2>
            </div>
            <div style="padding: 2em;">
                <h5>
                    HELLO {{userz}}
                </h5>
            </div>

                        <div style="padding: 1em;">
                <h6>
                    Please Select Each Below
                </h6>
            </div>

            <div class="d-flex justify-content-center" style="padding-bottom: 2em;">

                <h1 class="text-hide" style="background-image: url('...');">Bootstrap</h1>
                <div class="p-2 bd-highlight">

                    <select id="theDrop" name="mydrop2" required>
                        <option value="" name='drop'>Shoe Type</option>
                        <option value="heels" name='drop'>Heels</option>
                        <option value="sneaker" name='drop'>Sneaker</option>
                        <option value="boots" name='drop'>Boots</option>
                        <option value="sandals" name='drop'>Sandals</option>
                    </select>

                </div>

                <div class="p-2 bd-highlight">

                    <select id="theDrop" name="mydrop3" required>
                        <option value="" name='drop'>Shoe Colour</option>
                        <option value="Black" name='drop'>Black</option>
                        <option value="Tan" name='drop'>Tan</option>
                        <option value="Red" name='drop'>Red</option>

                    </select>

                </div>

                <div class="p-2 bd-highlight">

                    <select id="theDrop" name="mydrop4" required>
                        <option value="" name='drop'>Shoe Size</option>
                        <option value="3" name='drop'>3</option>
                        <option value="4" name='drop'>4</option>
                        <option value="5" name='drop'>5</option>
                        <option value="6" name='drop'>6</option>
                    </select>

                </div>

            </div>
            <button on type="submit" name="button" id="button3">Procced</button>
        </form>
    </div>
</div>