<div class="center" style="padding-bottom: 2em;">

    <div class="jumbotron">
        <h1 class="display-6">Enix.herokuapp.com</h1>
        <p class="lead">We Bring You The Newest Shoes In The Market So Pre-Order Today!</p>
        <hr class="my-4">

    </div>

    <div style="background-color: #e3f2fd;">
        <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/types">Males</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/types2">Females</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true"></a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Check Order"
                            aria-label="Search" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </nav>

    </div>

    <div style="padding-top: 1em;">
        <h5> <u>Female Shoes</u> </h5>
    </div>

    <div class="d-flex justify-content-start" style="padding: 2em;">


        <form action="/types2" method="POST">
            <div class="card" style="width: 15rem;background-color:darkgray">
                <img src="/images\5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>R900</h5>

                    <button type="submit" class="btn btn-primary" id="shoe6" name="price" value="/images\5.jpg">Pre-Order</button>
                </div>
            </div>
        </form>
        <form action="/types2" method="POST">
            <div class="card" style="width: 15rem;background-color:darkgray">
                <img src="/images\2.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5>R1100</h5>

                    <button type="submit" class="btn btn-primary" id="shoe7" name="price" value="/images\2.jpg">Pre-Order</button>
                </div>
            </div>
        </form>
        <form action="/types2" method="POST">
            <div class="card" style="width: 15rem;background-color:darkgray">
                <img src="/images\3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>R800</h5>

                    <button type="submit" class="btn btn-primary" id="shoe8" name="price" value="/images\3.jpg">Pre-Order</button>
                </div>
            </div>
        </form>
        <form action="/types2" method="POST">
            <div class="card" style="width: 15rem;background-color:darkgray">
                <img src="/images\4.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5>R600</h5>
                    <button type="submit" class="btn btn-primary" id="shoe9" name="price" value="/images\4.jpg">Pre-Order</button>
                </div>
            </div>
        </form>





    </div>