<nav class="navbar navbar-expand-lg py-3 navbar-dark bg-dark shadow-sm">
  <div class="container">
    <a href="#" class="navbar-brand">
      <!-- Logo Image -->
      <img src="/images\favicon.ico" width="45" alt="" class="d-inline-block align-middle mr-2">
      <!-- Logo Text -->
      <span class="text-uppercase font-weight-bold">Enix</span>
    </a>

    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/Male_Section" class="nav-link">Male</a></li>
        <li class="nav-item"><a href="/Female_Section" class="nav-link">Female</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>


<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Male</li>
  </ol>
</nav>
    <div class="d-flex justify-content-start" style="padding: 2em;">

      <!-- Gallery item -->
  
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
            <form action="/types" method="post">
        <div class="bg-white rounded shadow-sm"><img src="/images\b.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
         <p>Driving Shoe</p>

            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">R800</span></p>
                            <div>
                 <button type="submit" class="btn btn-primary" id="Driving Shoe" name="price" value="/images/b.jpg">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <form action="/types" method="post">
        <div class="bg-white rounded shadow-sm"><img src="/images\c.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
         

            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">R1200</span></p>
                            <div>
                <button type="submit" class="btn btn-primary" id="shoe2" name="price" value="/images/c.jpg">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <form action="/types" method="post">
        <div class="bg-white rounded shadow-sm"><img src="/images\d.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
         

            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">R700</span></p>
                            <div>
               <button class="btn btn-primary" id="shoe3" name="price" value="/images/d.jpg">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
      <!-- End -->

      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
         <form action="/types" method="post">
        <div class="bg-white rounded shadow-sm"><img src="/images\e.jpg" alt="" class="img-fluid card-img-top">
          <div class="p-4">
         

            <div class="d-flex align-items-center justify-content-between rounded-pill bg-light px-3 py-2 mt-4">
              <p class="small mb-0"><i class="fa fa-picture-o mr-2"></i><span class="font-weight-bold">R1500</span></p>
                            <div>
              <button class="btn btn-primary" id="shoe4" name="price" value="/images/e.jpg">Add To Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </form>
      <!-- End -->

    </div>