<div class="center" style="padding-bottom: 2em;">

    <div class="jumbotron">
        <h1 class="display-6">Enix.herokuapp.com</h1>
        <p class="lead">We Bring You The Newest Shoes In The Market So Pre-Order Today!</p>
        <hr class="my-4">

    </div>
    <div >
 <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/types">Males</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/types2">Females</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" tabindex="-1" aria-disabled="true"></a>
                </li>
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Check Order"
                            aria-label="Search" required>
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>
            </ul>

        </nav>
    </div>


    <div style="padding-top: 1em;">
        <h5><u>Male Shoes</u> </h5>
    </div>
    <div class="d-flex justify-content-start" style="padding: 2em;">

        <form action="/types" method="post">
            <div class="card" style="width: 15rem;background-color:darkgray" id="test">
                <img src="/images\b.jpg" class="card-img-top" alt="..." name='test'>
                <div class="card-body">
                    <h5>R800</h5>
                    <button type="submit" class="btn btn-primary" id="shoe1" name="price" value="/images\b.jpg">Pre-Order</button>

                </div>
            </div>
        </form>

        <form action="/types" method="post">
            <div class="card" style="width: 15rem;background-color:darkgray">
                <img src="/images\c.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5>R1200</h5>


                    <button type="submit" class="btn btn-primary" id="shoe2" name="price" value="/images\c.jpg">Pre-Order</button>
                </div>
            </div>
        </form>
        <form action="/types" method="post">
            <div class="card" style="width: 15rem;background-color:darkgray">
                <img src="/images\d.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5>R700</h5>
                    <button class="btn btn-primary" id="shoe3" name="price" value="/images\d.jpg">Pre-Order</button>
                </div>
            </div>
        </form>
        <form action="/types" method="post">
            <div class="card" style="width: 15rem;background-color:darkgray">
                <img src="/images\e.jpg" class="card-img-top" alt="...">
                <div class="card-body">

                    <h5>R1500</h5>
                    <button class="btn btn-primary" id="shoe4" name="price" value="/images\e.jpg">Pre-Order</button>
                </div>
            </div>
        </form>


    </div>