




    <div class="d-flex justify-content-start" style="padding: 2em;">

        <div class="card" style="width: 18rem;background-color:darkslategrey">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Type:Formal
                    Color:Black
                </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


                <div class="card" style="width: 18rem;background-color:darkslategrey">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

                <div class="card" style="width: 18rem;background-color:darkslategrey">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>


                <div class="card" style="width: 18rem;background-color:darkslategrey">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        



    </div>
    <form action="/types" method="POST"></form>
    <button on type="submit" name="button" id="button3">Procced</button>
    </form>

